body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    margin: 0;
    color: black;
    font-family: Arial, sans-serif;
    background: whitesmoke;
    background-size: 200% 200%;
    background: linear-gradient(to right, #9400D3, #FF6347, #9400D3); 
}



#calculator {
    width: 250px;
    height: 400px;
    border: none; 
    border-radius: 20px; 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    background-color: #FF69B4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#display {
    grid-column: span 4;
    height: 50px;
    font-size: 28px; 
    text-align: right;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}


button {
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
    background: #E75480;
    border-radius: 10px; 
    transition: background 0.3s ease;
}

button:hover {
    background: #A94064; 
    color: white;
    box-shadow: 0 0 10px #FFD1DC; 
}

button.pressed {
    outline: 2px solid #FF69B4;
}

#erase, #clear {
    background: pink;
}

#erase:hover, #clear:hover {
    background: lightpink;
}

#equals {
    grid-row: 5 / span 2;
    grid-column: 4;
}

#zero {
    grid-column: span 3;
    grid-row: 6;
}

#dot {
    grid-row: 6;
    grid-column: 4;
}