html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    overflow: hidden; 
    position: relative; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 146, 164), lightpink, rgb(255, 146, 164)); 
    backdrop-filter: blur(10px);
    z-index: -1; 
}

.container {
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px; 
    background-image: url('container.jpg'); 
    background-size: cover; 
    background-position: center; 
    box-shadow: 0 0 1000000px rgba(0, 0, 0, 0.4); 
    border-radius: 20px; 
}


header {

    color: rgb(219, 107, 169); 
    text-align: center;
    max-width: 700px; 
    margin: 0 auto; 
}



main {
    padding: 20px;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 3rem; 
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.word {
    margin: 10px;
    padding: 15px 30px;
    background-color: #ff96c4; 
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.3rem; 
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 200px; 
    height: 80px; 
    text-align: center; 
    line-height: 80px;
}


.word:hover {
    background-color: #ff6b9b; 
    transform: scale(1.1) translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 
                0 0 50px rgba(255, 255, 255, 0.5) inset; 
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.modal-content {
    background-color: lightpink;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    position: relative; 
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #888;
    transition: color 0.3s ease; 
}

.close:hover {
    color: #555; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
